    *
     body {
      -webkit-flex: 3;
      margin: 0;
      box-sizing: border-box;
      -ms-flex: 3;
      flex: 3;
      padding: 10px;
      font-family: Arial, sans-serif; /* Define la fuente del texto. Arial es la fuente principal, y sans-serif es la de respaldo. */
      margin: 0;
      padding: 0; 
      background-color: #f4f4f4;
    }

    header {
      background-color: #0066ff;
      padding: 15px;
      justify-content: space-between;
      text-align: center;
      display: flex;
  }
      .menu{
        width: 1280px;
        margin: 0 auto;
      }
      nav {
        margin: 10px 0;
        flex-grow: 1;
        text-align: center;
    }

      nav ul li{
        font-family: Arial;
        float:left;
        list-style: none;
        margin-left: 93px;
      }
      nav ul li a {
        text-decoration: none;
        color:#000000;
        font-weight: bold;
        text-align: center; 
      }


